@charset "UTF-8";
form {
    background: red;
    border: 1px solid black;
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.txt {
    margin-top: 5px ;
    margin-bottom: 5px;
    outline: none;
}

.btn {
    background: black;
    color: white;
    border: 2px solid black;
}